:root {
    --nedra-color: rgb(19, 77, 139);
    --nedra-color-2: #BFE2FF;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url(../fonts/RobotoSlab.ttf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Regular.ttf);
}

.bg-yellow {
    background-color: yellow;
}

.bg-gray {
    background-color: rgba(207, 207, 207, 0.25);
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-nedra {
    background: var(--nedra-color);
    background: linear-gradient(45deg, rgba(19, 77, 139, 0.5) 0%, rgba(19, 77, 139, 0.75) 50%, rgba(19, 77, 139, 1) 100%);
    border: var(--nedra-color);
}

.fc-nedra {
    color: var(--nedra-color);
}

.stroke {
    -webkit-text-stroke: 1px #ffffff;
    font-size: 36pt;
}

.indent {
    text-indent: 3ch;
}

.ta-end {
    text-align: end;
}

.fs-10 {
    font-size: 10pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-15 {
    font-size: 15pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-18 {
    font-size: 18pt;
}

.br-b {
    border-bottom: 1px solid rgba(33, 37, 41, 0.25);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: RobotoSlab;
}

body {
    background-image: linear-gradient(rgba(244, 247, 255, 0.9), rgba(244, 247, 255, 0.9)), url("../assets/ptrn-1.jpg");
    background-size: repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.start-block {
    background-image: linear-gradient(rgba(244, 247, 255, 0.5), rgba(244, 247, 255, 0.85)), url("../assets/svg/team.svg");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.img-container {
    position: relative;
}

.img-container img {
    max-height: 24rem;
    width: auto;
    max-width: 100% !important;
}

.step-container {
    padding: 0;
    border-left: 2px solid rgba(33, 37, 41, 0.25);
    margin-left: 1rem;
}
.step-container > .step-move {
    margin-left: -1.3rem;
}

.div-background,
.div-background-empty {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.div-background {
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid var(--nedra-color);
}

.icon-background {
    color: var(--nedra-color);
}
.icon-background::before {
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid var(--nedra-color);
    margin-right: 0.25rem;
}

.ramka-5 {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ramka-5::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #BFE2FF;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#4193db, #4193db), linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#4193db, #4193db);
    animation: anim-ramka-5 4s linear infinite;
}

.ramka-5::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: var(--nedra-color);
    border-radius: 50%;
}

@keyframes anim-ramka-5 {
    100% {
        transform: rotate(1turn);
    }
}

@media(max-width: 440px) {
    h1 {
        font-size: 24pt !important;
    }

    .block-head,
    .col-feature,
    .footer,
    .ta-end {
        text-align: center;
    }

    .col-feature {
        align-items: center;
    }
}